*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.gradle/2.0/taskArtifacts
/.settings
/.gradle
/.classpath
/.project
bin
/resources/assets/enderzoo/entity/*.pdn
/resources/assets/enderzoo/textures/blocks/*.pdn
